.categories {
    padding: 20px 0px 70px 20px;
    color: #fff;
    background: linear-gradient(90deg, rgb(1, 8, 18), rgb(3, 16, 32), rgb(75, 88, 107));
    height: 100vh;
  }
  
  .categories h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .categories p {
    font-size: 1.2em;
  }

  .category-content {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    padding: 20px;
    width: 80%;
  }

  