.details {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    z-index: 0;
}

.details::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.details-sidebar {
    width: 60px;
    position: relative;
    z-index: 1;
}

.details-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.details-info {
    box-shadow: #141414;
}

.details-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.details-title h1 {
    margin-right: 20px;
    font-size: 50px;
    text-align: left;
}

.heart-icon {
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    padding-top: 15px;
}

.heart-icon.fas {
    color: #ffffff;
}

.heart-icon:hover {
    color: #d7d4d4;
}

.share-icon {
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    padding-top: 15px;
    padding-left: 15px;
}

.share-icon:hover {
    color: #d8d4d4;
}

.details-info p {
    margin: 10px 0;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details-genres {
    margin-top: 10px;
}

.genre {
    display: inline-block;
    background-color: #fcfbfb;
    color: #141414;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 5px;
}

.watch-button {
    background-color: #fff;
    color: #056791;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.watch-button .fa-play {
    padding-right: 10px;
}

.watch-button:hover {
    background-color: rgb(230, 224, 224);
}

.add-button {
    margin-top: 10px;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.add-button:hover {
    color: #ccc;
}
