.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(35, 47, 62, 0.5), rgba(28, 41, 56, 0.5)), 
                url('../bg_cinema.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  .login-container {
    width: 400px;
    padding: 40px;
    background: transparent;  /*background-color: #1c2938;*/
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #0f79af;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #0c5d85;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  